audit=false
cafile=F:/vtb/MROD/fileToRun/vtb-ca-chain
always-auth=true
email=ci_dos_MHED@corp.dev.vtb
_auth=Y2lfZG9zX01IRUQ6YnhadWwyIXk=
registry=https://nexus-ci.corp.dev.vtb/repository/pfomb-npm
@vtb-ib:registry=https://nexus-ci.corp.dev.vtb/repository/pfom-npm-lib
strict-ssl=false