.mainContentFrame {
    width: 100%;
    display: flex;
    padding: 1px 0 30px 0;
    position: relative;
    box-shadow: 0px 4px 16px 0px rgba(137, 150, 168, 0.4000000059604645);
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 0;
    border-radius: 16px;
    margin-bottom: 61px;
    flex-direction: column;
    background-color: rgba(242, 239, 239, 0.2);

}

.headerContentFrame {
    width: 729px;
    height: 36px;
    display: flex;
    padding: 5px 10px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 7px;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
}

.headerContentText {
    color: var(--dl-color-neutral-neutral90);
    width: 156px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: VTB Group UI;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.lineContent {
    width: 100%;
    border-bottom: ridge 2px whitesmoke;
    opacity: 50%;
}

.buttonHeaderContent {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
}

.buttonHeaderContentText {
    color: var(--dl-color-neutral-neutral50);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: VTB Group UI;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.buttonHeaderContentImage {
    width: 24px;
    height: 24px;
    position: relative;
    box-sizing: border-box;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url("/public/playground_assets/arrowschevronrighti135-sfbf.svg");
}

.bodyFrame {
    width: 729px;
    display: flex;
    padding-left:10px;
    padding-top: 8px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .contentBodyFrame {
    height: 104px;
    display: flex;
    padding: 5px 0;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
}