.headerFrame {
    top: 59px;
    left: 53px;
    width: 1291px;
    display: flex;
    padding: 16px 70px;
    position: absolute;
    box-shadow: 1px 4px 10px 0px #1E90FF	;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
  }