.headerTextBadge {
    display: flex;
    padding: 0 5px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    margin-right: 0;
    border-radius: 8px;
    margin-bottom: 0;
    flex-direction: column;
    background-color: blue;
  }
  .headerTextBadgeValue {
    color: white;
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: 16px;
    margin-right: 0;
    margin-bottom: 0;
  }